.main {
  // min-height: 100vh;
  min-width: 100vw;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  &.fade {
    animation-name: fade-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
  }
  &.hide {
    display: none;
  }
  img {
    width: 50%;
    min-width: 175px;
    max-width: 350px;
    &.fade {
      animation-name: fade-out;
      animation-duration: .5s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}