.director_card_wrapper {
  .h1 {
    color: white;
    font-family: 'Gotham';
    font-weight: 600;
    width: 80%;
    margin: 0 auto;
  }
}
.sub_director_card_wrapper {
  font-size: 35px;
}

.director_banner {
  position: fixed;
  top: 60px;
  z-index: 16;
  width: 100%;
  background: black;
  .h1 {
    width: 500px;
    color: white;
    font-family: 'Gotham';
    font-weight: 600;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px 15px;
    @media all and (max-width: 800px) {
      padding: 20px 0;
      margin: 10px auto;
      width: 100%;
    }
  }
}

.sub_director_page {
  .mobile_grid {
    display: none;
  }
  .desktop_grid {
    padding-top: calc(60px + 85px);
  }
  @media all and (max-width: 800px) {
    .mobile_grid {
      display: block;
      padding-top: 100px;
    }
    .desktop_grid {
      display: none;
    }
  }
}