.main {
  position: relative;
  >button {
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 48px;
    color: rgba(255,255,255,.5);
    -webkit-tap-highlight-color: transparent;
    &:hover {
      cursor: pointer;
      color: white;
    }
    &:focus {
      outline: none;
    }
    &.prev {
      left: 0%;
    }
    &.next {
      right: 0%;
    }
  }
}



.video_slider_wrapper {
  overflow: hidden;
  height: -webkit-calc(100vh - 60px);
  height: -moz-calc(100vh - 60px);
  height: calc(100vh - 60px);
  @media all and (max-width: 800px) {
    // height: 100vh;
    margin-top: 60px;
  }
  img {
    width: 100%;
    max-width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    opacity: 0;
    &.active {
      animation-name: fadeInOpacity;
      animation-fill-mode: forwards;
      animation-duration: .5s;
    }
  }
  .slide_content_wrapper {
    position: relative;
    overflow: hidden;
    height: -webkit-calc(100vh - 60px);
    height: -moz-calc(100vh - 60px);
    height: calc(100vh - 60px);
    @media all and (max-width: 800px) {
      height: 100vh;
    } 
    video {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 150%;
      @media all and (max-width: 1000px) {
        height: 100%;
        width: auto;
      }
    }
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}