.main {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  min-height: 25vh;
  height: 100%;

  .card_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    width: 100%;
    opacity: 0;
  // @media (orientation:landscape) { 
  //   top: 100%
  // }
    img {
      width: 100%;
      max-width: 500px;
    }
    @media all and (max-width: 800px) {
      opacity: 1;
    }
  }
  video {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    // width: auto;
    // height: auto;
    // object-fit: cover;
    &.heightAdj {
      height: 110%;
      width: auto;
    }
    &.widthAdj {
      width: 110%;
      height: auto;
    }
    // @media (orientation:landscape) { 
    //   width: 100% !important;
    //   height: auto !important;
    // }
    @media (max-width: 1350px) and (orientation:landscape) { 
      height: 110% !important;
      width: auto !important;
    }
    @media (orientation:portrait) { 
      height: 110% !important;
      width: auto !important;
    }
    // @media (max-width: 1200px) {
    //   height: 100% !important;
    //   width: auto !important;
    // }
  }
  &:hover {
    cursor: pointer;
    video {
      display: block;
    }
    .card_content {
      opacity: 1;
    }
  }
  @media all and (max-width: 800px) {
    height: 50vh;
    video {
      display: none !important;
    }
  }
}