.main {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  min-height: 25vh;
  height: 100%;

  .card_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    width: 100%;
    opacity: 0;
    &.show_content {
      opacity: 1 !important;
    }
    img {
      width: 100%;
      max-width: 500px;
    }
    @media all and (max-width: 800px) {
      opacity: 1;
    }
  }
  video {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    &.heightAdj {
      height: 100%;
      width: auto;
    }
    &.widthAdj {
      width: 100%;
      height: auto;
    }
  }
  &:hover {
    cursor: pointer;
    video {
      display: block;
    }
    .card_content {
      opacity: 1;
      &.show_content {
        opacity: 0 !important;
      }
    }
  }
  @media all and (max-width: 800px) {
    grid-area: span 2 / span 1 / auto / auto !important;
    video {
      display: none !important;
    }
  }
}