.mobile_view {
  display: none;
}

@media all and (max-width: 800px) {
  .mobile_view {
    display: block;
  }
  .desktop_view {
    display: none;
  }
}

.h1 {
  color: white;
  font-family: 'Gotham';
  font-weight: 600;
  width: 80%;
  margin: 0 auto;
}