.desktop_carousel {
  @media all and (max-width: 800px) {
    display: none;
  }
  video {
    width: 150%;
    height: auto !important;
  }
}

.mobile_coursel {
  display: none;
  @media all and (max-width: 800px) {
    display: block !important;
  }
}

.slide_wrapper {
  position: relative;
  overflow: hidden;
  height: -webkit-calc(100vh - 60px);
  height: -moz-calc(100vh - 60px);
  height: calc(100vh - 60px);
  video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }
}



.container {
  width: 100%;
  position: relative;
  .next, .prev {
    position: absolute;
    top: 50%;
    z-index: 99;
    transform: translateY(-50%);
  }
  .next {
    right: 10px;
  }
  .prev {
    left: 10px;
  }
}
.carousel {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  overflow: hidden;
  position: relative;
}
.slider {
  display: flex;
  height: 100%;
  width: 300%;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 100vw;
  video {
    width: 100%;
  }
}