.music_video_grid {
  .card_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    >img {
      width: 100%;
      max-width: 500px;
    }
  }
}