.main {
  height: 50vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  @media all and (max-width: 700px) {
    height: 75vh;
  }
  .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    >h1 {
      color: white;
      font-size: 65px;
      font-family: 'AQCT';
      font-weight: 600;
    }
  }
  video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
  }
}