.modal_wrapper {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  z-index: 999;
  &.active {
    display: block;
  }
  .modal_background {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    &:hover {
      cursor: pointer;
    }
  }
  .modal_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 70%;
    button {
      display: none;
    }
    @media all and (max-width: 800px) {
      width: 100vw;
      height: 100vh;
      button {
        display: block;
      }
    }
  }
}

.video_wrapper {
  width: 100%;
  text-align: center;
  iframe {
    width: 100%;
    // height: 500px;
    margin: 30px 0 0 0;
  }
  .text_wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 640px;    
    max-height: 100%;
    width: 100%;
    padding: 15px 0;
    p {
      color: white;
      text-align: left;
      font-family: 'Gotham';
      font-size: 22px;
      margin: 0;
    }
  }
}