.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  img {
    z-index: 999;
    height: 60px;
    &:hover {
      cursor: pointer;
    }
  }
  .menu_bar_desktop {
    position: absolute;
    display: flex;
    width: 100%;
    background: black;
    z-index: 99;
    .menu_content {
      display: flex;
      align-items: center;
      width: 100%;
      z-index: 101;
      font-family: 'Gotham';
      letter-spacing: .5px;
      ul {
        position: absolute;
        right: 0;
        display: flex;
        list-style: none;
        margin: 0;
        height: 75%;
        li {
          font-size: 12px;
          margin: 0 20px;
          display: flex;
          align-items: center;
          @media all and (max-width: 900px) {
            margin: 0 10px;
          }
          &:hover {
            cursor: pointer;
          }
          a {
            text-decoration: none;
            color: white;
            height: 100%;
            display: flex;
            align-items: center;
            &:hover {
              color: red;
            }
          }
        }
      }
    }
    @media all and (max-width: 800px) {
      display: none;
    }
  }


  .menu_bar_mobile {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 99;
    height: 60px;
    >img {
      z-index: 999;
      height: 60px;
      position: absolute;
      &:hover {
        cursor: pointer;
      }
    }
    @media all and (max-width: 800px) {
      display: block;
    }
    > button {
      position: absolute;
      right: 0;
      top: 50%;
      z-index: 102;
      transform: translateY(-50%) scale(.8);
      background: transparent;
      border: none;
      -webkit-tap-highlight-color: transparent;
      span, span:before, span:after {
        background-color: rgba(255,255,255,0.5);
        color: rgba(255,255,255,0.5);
      }
      &.active {
        span, span:before, span:after {
          background-color: rgba(255,255,255,1);
          color: rgba(255,255,255,1);
        }
      }
      &:focus {
        outline: none;
        background: transparent;
      }
      &:hover {
        cursor: pointer;
      }
    }

    .menu_bar {
      background: black;
      top: 0;
      left: 0;
      transform: translateY(-100%);
      transition-duration: .3s  ;
      width: 100%;
      overflow: visible;
      position: fixed;
      height: 100vh;
      .mobile_footer {
        display: block;
      }
      ul {
        margin: 100px 0;
        display: block;
        padding: 0;
        position: static;
        height: auto;
        li {
          font-size: 30px;
          margin: 10px;
          font-weight: 600;
          font-family: 'Gotham';
          &:nth-child(5) {
            display: none;
          }
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
      &.active {
        transform: translateY(0%);
      }
    }
  }
}